html {
  height: 100%;
  margin: 0; 
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: rubik;
  margin: 0; 
  padding: 0; 
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.rubik {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.container {
  flex: 1;
  display: grid;
  grid-template-columns: 150px 1fr 400px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "logo header header"
    "main main sidebar"
    "footer footer footer";
  width: 100%;
}
.logo {
  grid-area: logo; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.logo img {
  width: 175px;
  height: 175px;
  margin-top: 5px;
  margin-left: 70px;
  margin-bottom: 5px;
}
.navbar, .main{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.logo,.navbar{
  background-color:#1E467D;
}
.navbar {
  grid-area: header;
  font-size: x-large;
}
.links {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
}
.links ul{
  display: flex; 
  justify-content: center;
 }

li {
  list-style: none;
  display: inline-block;
}

 .links li a {
  color: white;
  text-decoration: none;
  margin-right: 100px;
}
.nextgame {
  grid-area: sidebar;
}
.nextgameH1{
  display: flex;
  align-items: center;
  flex-direction: column;
}
#fs-upcoming{
margin-top: 20px;
margin-right: 20px;
width: 100%;
}
.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  width: 100%; 
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  text-align: justify;
  font-size: xx-large;
}

#fs-standings {
  width: 100%;
  max-width: 1500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 80vh; 
  text-align: justify;
}
.footer {
  grid-area: footer;
  background-color: #34383F;
}
aside{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Event1, .Event2 {
margin-bottom: 50px;
}
hr{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
}
 .flex-container {
  margin-top: 40px;
  display: flex;
  grid-area: main;
  flex-wrap: wrap;
  gap: 50px;
  justify-content:flex-start;
  
 }
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  height: 600px;
  border-radius: 5px;  
}

.card-text {
  text-align: center;
  padding: 10px 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card img {
  width: 310px;
  height: 500px;
}


img {
  border-radius: 5px 5px 0 0;
}
.containerform {
  grid-area: main;
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formtext {
  text-align: justify;  
}


label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

textarea {
  resize: none;
  height: 150px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 10px;
  margin-bottom: 30px;
}

input[type="submit"] {
  background-color: #5cb85c;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #4cae4c;
}

.hero-banner {
  grid-area: main;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative; 
}

.hero-banner img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  filter: brightness(0.6);
}

.hero-text {
  position: absolute; 
  top: 40%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px;
  color: white; 
}

.hero-text a {
  color: white; /* Make anchor text white */
  text-decoration: none; /* Remove underline if desired */
}
.stadion {
  width: 100%;
  height: 700px;
  object-fit: cover;

}